@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* MAIN */

#main-container {
    background-image: linear-gradient(120deg, rgba(10, 10, 10, 0.510) 0%, rgba(10, 10, 10, 0.600) 100%), url("/img/main-background.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 937px;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 21em;
    color: #fff;
}

.sobre-container h4 {
    color: #FF9800;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.sobre-container h1 {
    font-size: 84px;
}

.sobre-container p {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.sobre-container button {
    height: 4rem !important;
    padding: 0 3.5rem 0 3rem !important;
    margin-top: 0.6rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    background-color: transparent;
    border: 2px solid #fff;
    transition: 0.5s;
}

.sobre-container button:hover {
    border: 2px solid #FF9800;
}

.sobre-container button a {
    text-decoration: none;
    color: #fff;
}

.main-icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.main-icons li {
    list-style: none;
    margin: 20px;
    padding-top: 5em;
}

.main-icons li a {
    color: #fff;
    transition: 0.5s;
}

.main-icons li a:hover {
    color: #FF9800;
}

/* SECTION */

.informacao-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
}

.informacao {
    margin-top: -3em;
}

.informacao-container h5 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.informacao-container h4 {
    font-size: 35px;
    font-weight: 600;
}

.informacao-container p {
    font-size: 17px;
}

.informacao .row {
    padding: 5em;
}

.informacao-perfil h5 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.informacao-perfil ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 5px;
}

.informacao-skills h5 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.informacao-skills img {
    width: 50%;
}

/* SECTION 2 */

#portfolio-container {
    background-color: #151515;
    color: #fff;
}

.portfolio {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em;

    & h5 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    & h1 {
        font-weight: 700;
        font-size: 35px;
    }

    & p {
        margin-top: 1em;
    }

}



.projeto {
    .card {
        background-color: #151515;
        border: none;
        color: white;

        .card-body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    margin-top: -4em;

    &:nth-child(1) {
        transition-delay: 400ms;
    }

    &:nth-child(2) {
        transition-delay: 500ms;
    }

    &:nth-child(3) {
        transition-delay: 600ms;
    }

    &:nth-child(4) {
        transition-delay: 700ms;
    }

    & img {
        width: 100%;
        border-radius: 5px;
    }
}


.projeto-descricao {
    & button {
        height: 4rem !important;
        padding: 0 3.5rem 0 3rem !important;
        margin-top: 0.6rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .25rem;
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
        transition: 0.5s;

        &:hover {
            border: 2px solid #FF9800;
        }
    }
}

/* SECTION 3 */

#servicos-container {
    background-image: linear-gradient(120deg, rgba(10, 10, 10, 0.510) 0%, rgba(10, 10, 10, 0.600) 100%), url("/img/contato.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 937px;
}

.servicos-title {
    padding-top: 4em;
    color: #fff;
}

#servicos {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.servicos-title h5 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #FF9800;
}

.servicos-title h2 {
    font-weight: 700;
    font-size: 35px;
}

.servicos-title p {
    padding: 2px;
}

.servicos-descricao {
    color: #fff;
    padding-top: 2em;
    font-size: 25px;

    & h5 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    & p {
        color: rgba(255, 255, 255, 0.692);
        font-size: 23px;
    }
}

.servico-icon {
    font-size: 45px;
    color: #FF9800;
    margin-bottom: 20px;
}

/* SECTION 4 */

.footer-img {
    background-image: linear-gradient(120deg, rgba(10, 10, 10, 0.510) 0%, rgba(10, 10, 10, 0.600) 100%), url("/img/footer.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45vh;
}

/* FOOTER */
footer {
    background-color: #151515;
    color: #fff;
    width: 100%;
    padding: 50px 0;
}

.footer-descricao {
    color: #fff;
    padding-top: 2em;
    font-size: 25px;

    & h5 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    & p {
        color: rgba(255, 255, 255, 0.692);
        font-size: 23px;
    }
}

.footer-contato {
    margin: 0 auto;
    text-align: center;
}

.footer-title h5 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #FF9800;

    & h2 {
        font-weight: 700;
        font-size: 35px;
    }

    & p {
        color: rgba(255, 255, 255, 0.692);
        font-size: 23px;
    }
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

/* RESPONSIVO */

@media(max-width: 1030px) {
    .sobre-container {
        padding-top: 10em;
    }

    .informacao-container p {
        width: 50em;
        text-align: center;
    }

    .informacao-skills img {
        width: 80%;
    }

    #servicos {
        width: 50%;
    }
}

@media(max-width: 770px) {
    .informacao-container p {
        width: 40em;
        text-align: center;
    }

    .informacao .row {
        padding: 3em 0;
    }

    .informacao-skills img {
        width: 90%;
    }

    #servicos {
        width: 80%;
    }

    .servicos-descricao p {
        font-size: 21px;
    }

    .footer-title p {
        width: 90%;
        text-align: center;
    }

    .footer-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

@media(max-width: 430px) {
    .informacao-container h4 {
        font-size: 25px;
    }

    .informacao-container p {
        width: 24em;
        text-align: center;
    }

    #servicos-container {
        height: 83em;
    }

    .servicos-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-row p {
        font-size: 17px;
    }

}

@media(max-width: 380px) {
    .informacao-container h4 {
        font-size: 22px;
    }

    .informacao-container p {
        width: 22em;
        text-align: center;
    }

    #servicos-container {
        height: 91em;
    }

    .footer-row p {
        font-size: 17px;
    }

}

@media(max-width: 330px) {
    .sobre-container h1 {
        font-size: 65px;
    }

    .sobre-container h4 {
        font-size: 25px;
    }

    .informacao-container h4 {
        font-size: 20px;
    }

    .informacao-container p {
        width: 18em;
        text-align: center;
    }

    .informacao-perfil li span {
        font-size: 14px;
    }

    #servicos-container {
        height: 100em;
    }

    .footer-row p {
        font-size: 15px;
    }

}